*{
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-content: center;
}

.App {
  margin-top: 30px;
  margin-left: 30px;
}

#enter{
  border: none;
  border-radius: 5px;
  background: lightgrey;
  padding: 8px;
  margin-left: 10px;
}

#button{
  margin-left: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background:coral;
}

#boxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}